@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins',
    sans-serif;
  /* font-family: 'Helvetica',
    'Arial',
    sans-serif; */
  background-color: #DDDDDD;
  ;
}

.event-btn {
  background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);

}